* { padding: 0px; margin: 0px; font-weight: normal; border: 0px; } /* CSS Reset */

html, body { 
    color: #FFA62F;
    background-color: #2C3539;
    padding-top: 15px;
    height: 100%;
    text-align: center;
    font-family: Helvetica;
    width: 100%;
    overflow: hidden;
}

#mainstation { 
    font-size: 60pt; 
    border-left: 15px solid gray;
    border-right: 15px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}
#otherstations { font-weight: bold; font-size: 22pt; margin-top: 5px; }
#updating { color: #ff0000; }
#stationname {
    color: #CD7F32;
    font-size: 9pt;
    clear: left;
    display: block;
    clear: left; 
    padding-bottom: 5px;
 }
